body{
  font-family: "Open Sans";
}
.impact-intro {
  background-image: url("../images/background-img-intro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  align-content: center;
  
}

.navbar{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.impact-intro h1,
.impact-intro p {
  color: white;
  font-family: "Open Sans";
}

.impact-intro p{
    font-size: 20px;
}

.impact-intro h1 {
  font-weight: bold;
}

.card-title, .modal-title{
  font-family: "Source Serif 4", serif;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

form{
    align-self: center;
}

.btn.btn-primary {
    background-color: #00205B;
    color: white;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #0038a8;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

footer{
    background-color: #00205B;
}